In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

loaded_model_randomForest = pickle.load(open('best_random_forest_model.sav','rb'))
loaded_model_SVM = pickle.load(open('best_GridSearch_SVM.sav','rb'))

In [10]:
test_df = pd.read_pickle('cleaned_data_loan_approval_test.pkl')

In [11]:
test_df.info

<bound method DataFrame.info of      ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5720                  0       110.0             360.0
1               3076               1500       126.0             360.0
2               5000               1800       208.0             360.0
3               2340               2546       100.0             360.0
4               3276                  0        78.0             360.0
..               ...                ...         ...               ...
362             4009               1777       113.0             360.0
363             4158                709       115.0             360.0
364             3250               1993       126.0             360.0
365             5000               2393       158.0             360.0
366             9200                  0        98.0             180.0

     Credit_History  Gender  Married  Education  Self_Employed  Semiurban  \
0          1.000000       1        1          0              0          0
1          1.000000       1        1          0              0          0
2          1.000000       1        1          0              0          0
3          0.825444       1        1          0              0          0
4          1.000000       1        0          1              0          0
..              ...     ...      ...        ...            ...        ...
362        1.000000       1        1          1              1          0
363        1.000000       1        1          0              0          0
364        0.825444       1        0          0              0          1
365        1.000000       1        1          0              0          0
366        1.000000       1        0          0              1          0

     Urban  1  2  3+
0        1  0  0   0
1        1  1  0   0
2        1  0  1   0
3        1  0  1   0
4        1  0  0   0
..     ... .. ..  ..
362      1  0  0   1
363      1  0  0   0
364      0  0  0   0
365      0  0  0   0
366      0  0  0   0

[367 rows x 14 columns]>

In [12]:
test_df.dtypes

ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Gender                 uint8
Married                uint8
Education              uint8
Self_Employed          uint8
Semiurban              uint8
Urban                  uint8
1                      uint8
2                      uint8
3+                     uint8
dtype: object

In [14]:
forest_pred = loaded_model_randomForest.predict(test_df)

In [16]:
len(forest_pred)

367

In [18]:
forest_pred

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)

In [20]:
unique, counts = np.unique(forest_pred, return_counts=True)
dict(zip(unique, counts))

{0: 59, 1: 308}